@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}


:root {
  --verde-color: #80BC04;
}
