.button {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 65px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  margin-top: 35px;
}

.button:hover {
  background-color: #dad8d8;
}
